.ticket-box {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    height: fit-content;
    width: 100%;
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
}

.ticket-box .ticket-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.ticket-box .ticket-box-header .ticket-box-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #3f4254 !important;
}

.ticket-box .ticket-box-header button {
    color: #fff;
    font-size: 1rem;
    background-color: #20d489;
    padding: .5rem;
    border-radius: .5rem;
}

.ticket-box .ticket-box-body {
    overflow-x: auto;
    white-space: nowrap;
}

.ticket-box .ticket-box-body table {
    width: 100%;
    border: 1px solid #eff2f5;
    border-radius: 0.65rem;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
}

.ticket-box .ticket-box-body th {
    color: #595959;
    font-size: .9rem;
}

.ticket-box .ticket-box-body th,
.ticket-box .ticket-box-body td {
    padding: 1rem .5rem;
}

.ticket-box .ticket-box-body tbody tr:nth-child(odd) {
    background-color: #f3f4f5;
}

.ticket-box .ticket-box-body tbody button {
    color: #fff;
    font-size: .8rem;
    background-color: #20d489;
    padding: .3rem;
    border-radius: .5rem;
}

.MuiDialog-container p {
    font-family: 'dana';
}

.ticket-box input {
    font-family: 'dana';
}