.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    /*background-color: #e5e5e5;*/
    height: 50vh;
    width: 700px;
    /*margin-top: 100px;*/
}

.input {
    border-radius: 20px;
}

.input-container {
    /*background-image: url("../img/hero/hero-line-2.png");*/
    /*background-size: cover;*/
    background-color: #e3f6e7;
    background-position: bottom;
    border-radius: 0 20px 20px 0;
}

.back-pic {
    position: absolute;
    top: 0;
}

.login-img {
    height: 100%;
}